APP_NAME=cc-ai-customer-service
APP_VERSION=0.1.0
APP_ENV=local

MYSQL_HOST=localhost
MYSQL_PORT=13306
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_DB=cc_ai_cs

REDIS_HOST=localhost
REDIS_PORT=6379

QDRANT_HOST=localhost
QDRANT_PORT=6333

DEEPSEEK_API_KEY=sk-xxx
SILICONFLOW_API_KEY=sk-xxx